<div class="Weather">
  <div class="Weather-title">Today's Weather</div>
  <div class="Weather-detail">
    <div class="Error">
      <div class="Error-icon u-10-leftMargin"></div>
      <div class="Error-message u-10-leftMargin"></div>
    </div>
    <div class="Search">
      <form class="Search-form">
        <span class="city-title">City:</span>
        <input type="text" class="city-input" required>
        <span class="country-title u-10-leftMargin">Country:</span>
        <input type="text" class="country-input" required>
        <input type="submit" class="submit-button u-10-leftMargin" value="Search">
        <div class="busy u-10-leftMargin u-hide"></div>
      </form>
    </div>
    <div class="Result">
      <div class="Result-top">
        <div class="Result-picture"></div>
        <div class="Result-box">
          <div class="Result-title"></div>
          <div class="Result-description"></div>
        </div>
      </div>
      <div class="Result-bottom">
        <div class="Result-temperature">
          <span class="temperature-title u-hide">Temperature:</span>
          <span class="temperature-text"></span>
        </div>
        <div class="Result-humidity">
          <span class="humidity-title u-hide">Humidity:</span>
          <span class="humidity-text"></span>
        </div>
      </div>
    </div>
  </div>
</div>